/* ----- CHESS BOARD ----- */
/* Centers the entire board on the screen */
.chess-board-container {
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #242424;
}

/* Defines the 8x8 grid structure */
.chess-board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	width: 80vmin; /* Scalable size based on the smallest viewport dimension */
	height: 80vmin;
	border: 4px solid #333;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Base style for every individual square */
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

/* Alternating colors */
.light {
	background-color: #f0d9b5; /* Traditional light beige */
}

.dark {
	background-color: #b58863; /* Traditional dark brown */
}

/* ----- PIECES -----*/
.piece-img {
	width: 100%;
	height: 100%;
	object-fit: contain; /*  stretching */
}

.piece-container {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* ----- EVALUATION BAR -----*/
.bar-container {
	position: fixed;
	height: 45%;
	width: 4%;
	border-radius: 4px;
	left: 19%;
}

#white-bar {
	background-color: white;
	top: 5%;
}

#black-bar {
	background-color: darkgray;
	bottom: 5%;
}

/* ----- MOVE HISTORY -----*/
.move-history-container {
	/* Positions the div at the top right of the screen */
	position: fixed;
	top: 5%;
	left: 60%;

	/* Shapes the div into a rectangle */
	width: 250px;
	height: fit-content;

	/* Aligns the inner text to the top-left of this rectangle */
	text-align: left;
	vertical-align: top;
	padding: 15px; /* Adds breathing room so text doesn't touch the very edge */

	/* Optional styling to make the rectangle visible */
	background-color: #33333394;
	color: #ffd5abec;
	box-sizing: border-box; /* Ensures padding doesn't break the width/height */
}
/* ----- PLAYERS -----*/
.player-container {
	position: relative;
	align-content: center;
	text-align: center;
	border: 3px orange solid;
	width: fit-content;
	left: 50%;
}

#white-player {
	top: 10px;
}
#black-player {
	bottom: 10px;
}
/* ----- TAKEN PIECES -----*/
.taken-pieces-container {
	position: absolute;

	/* Shifts the child back by half of its own width/height for perfect centering */
	transform: translate(-50%, -50%);
}
/* ----- CLOCKS AND TIME -----*/
.clock-container {
}
