/* ----- CHESS BOARD ----- */
/* Centers the entire board on the screen */
.chess-board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vmin;
	background-color: #242424;
}

/* Defines the 8x8 grid structure */
.chess-board {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	width: 90vmin; /* Scalable size based on the smallest viewport dimension */
	height: 90vmin;
	border: 4px solid #333;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Base style for every individual square */
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

/* Alternating colors */
.light {
	background-color: #f0d9b5; /* Traditional light beige */
}

.dark {
	background-color: #b58863; /* Traditional dark brown */
}

/* ----- PIECES -----*/
.piece-img {
	width: 100%;
	height: 100%;
	object-fit: contain; /*  stretching */
}

.piece-container {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* ----- EVALUATION BAR -----*/
.bar-container {
	position: fixed;
	height: 45%;
	width: 4%;
	border-radius: 4px;
	left: 19%;
}

#white-bar {
	background-color: white;
	top: 5%;
}

#black-bar {
	background-color: darkgray;
	bottom: 5%;
}

/* ----- MOVE HISTORY -----*/
.move-history-container {
	/* Positions the div at the top right of the screen */
	position: fixed;
	top: 0;
	right: 0;

	/* Shapes the div into a rectangle */
	width: 250px;
	height: 120px;

	/* Aligns the inner text to the top-left of this rectangle */
	text-align: left;
	vertical-align: top;
	padding: 15px; /* Adds breathing room so text doesn't touch the very edge */

	/* Optional styling to make the rectangle visible */
	background-color: #33333394;
	color: #fff;
	box-sizing: border-box; /* Ensures padding doesn't break the width/height */
}
